* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(32, 32, 32);
}

button {
    cursor: pointer;
}

.top-section-container {
    margin: 25px;
    display: flex;
    justify-content: row;
}

.main-weather-tab {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, rgba(87, 87, 87, 0.5) 0%, rgba(16, 27, 39, 0.5) 100%);
    backdrop-filter: blur(5px);
    padding: 25px;
    border-radius: 25px;
    width: 35%;
}

.button {
    width: 50px;
    height: 50px;
    align-self: end;
    border: 0;
    border-radius: 100%;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.button:hover {
    background-color: black;
}